In [16]:
import sys
import os
import time
import pickle
import numpy as np
import matplotlib.pyplot as plt
from sklearn import metrics, model_selection
import pandas as pd
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [17]:
year1 = pd.read_csv("data/1year.csv")

In [18]:
cols = year1.columns.tolist()

In [19]:
cols = cols[-1:] + cols[:-1]

In [20]:
year1 = year1[cols]

In [35]:
year1.head()

,class,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
0,0,0.200550,0.37951,0.39641,2.0472,32.3510,0.38825,0.249760,1.33050,1.1389,...,348690.0,0.121960,0.39718,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.4277
1,0,0.209120,0.49988,0.47225,1.9447,14.7860,0.00000,0.258340,0.99601,1.6996,...,2304.6,0.121300,0.42002,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.9870
2,0,0.248660,0.69592,0.26713,1.5548,-1.1523,0.00000,0.309060,0.43695,1.3090,...,6332.7,0.241140,0.81774,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.2078
3,0,0.081483,0.30734,0.45879,2.4928,51.9520,0.14988,0.092704,1.86610,1.0571,...,20545.0,0.054015,0.14207,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.5497
4,0,0.187320,0.61323,0.22960,1.4063,-7.3128,0.18732,0.187320,0.63070,1.1559,...,3186.6,0.134850,0.48431,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.8980

In [34]:
year1 = year1.apply(lambda x: pd.to_numeric(x, errors='force'))

In [38]:
year1 = year1.apply(lambda x: x.fillna(x.mean()),axis=0)

In [39]:
X = year1.drop(['class'], axis=1)
y = year1["class"]
y = y.astype('int')
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [40]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
score = logreg.score(X_train, y_train)
score2 = logreg.score(X_test, y_test)

print("Training set accuracy: ", '%.3f' %(score))
print("Test set accuracy: ", '%.3f' %(score2))

Training set accuracy:  0.956
Test set accuracy:  0.954

,class,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
0,0,0.200550,0.37951,0.39641,2.0472,32.3510,0.38825,0.249760,1.33050,1.1389,...,348690.0,0.121960,0.39718,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.4277
1,0,0.209120,0.49988,0.47225,1.9447,14.7860,0.00000,0.258340,0.99601,1.6996,...,2304.6,0.121300,0.42002,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.9870
2,0,0.248660,0.69592,0.26713,1.5548,-1.1523,0.00000,0.309060,0.43695,1.3090,...,6332.7,0.241140,0.81774,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.2078
3,0,0.081483,0.30734,0.45879,2.4928,51.9520,0.14988,0.092704,1.86610,1.0571,...,20545.0,0.054015,0.14207,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.5497
4,0,0.187320,0.61323,0.22960,1.4063,-7.3128,0.18732,0.187320,0.63070,1.1559,...,3186.6,0.134850,0.48431,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.8980

In [43]:
col24 = year1.iloc[:,24:25]
print(col24)

        Attr24
0     0.477060
1     0.540231
2     0.540231
3     0.171930
4     0.187320
5     0.540231
6     0.540231
7     0.540231
8     0.000222
9     0.540231
10    0.540231
11   -0.076857
12    0.515860
13    0.246040
14    0.016014
15   -0.104130
16    0.909800
17    0.034470
18    0.540231
19    0.540231
20    0.540231
21   -0.305050
22    0.540231
23    0.540231
24    0.540231
25    0.236900
26    0.540231
27    0.694190
28   -0.054623
29   -0.822240
...        ...
6997 -0.004791
6998 -0.018781
6999  0.024774
7000 -0.004183
7001 -0.289710
7002  0.116930
7003  0.315310
7004 -0.330330
7005  0.046080
7006  0.169280
7007  0.045892
7008  0.001091
7009 -0.038146
7010  0.138090
7011  0.128380
7012  0.033368
7013  0.040082
7014  0.471860
7015  0.008018
7016  0.023087
7017  0.020462
7018 -0.051896
7019  0.017119
7020  0.037809
7021  0.075024
7022  0.018371
7023 -0.015036
7024  0.012022
7025  0.045607
7026  0.015260

[7027 rows x 1 columns]